################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Earthelsk/bin
/src/Earthelsk/src/Earthelsk/.vs/Earthelsk/v14
/src/Earthelsk/src/Earthelsk/Library
/src/Earthelsk/src/Earthelsk/Temp/UnityVS_obj/Debug
/src/Earthelsk/src/Earthelsk/Earthelsk.CSharp.csproj.user
/src/Earthelsk/.vs/Earthelsk/v14/.suo
